<div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center">Login</h1>
                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="username"
                        id="username"
                        placeholder="Username" />

                    <input 
                        type="password"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="password"
                        id="password"
                        placeholder="Password" />

                    <button
                        type="submit"
                        class="w-full text-center py-3 rounded bg-gray-800 text-white hover:bg-gray-dark focus:outline-none my-1"
                        id = "loginBtn"
                    >Login</button>
                </div>

                <div class="text-grey-dark mt-6">
                    Don't have an account? 
                    <button class="no-underline border-b border-blue text-blue" id = "signUpPageBtn" href="">
                        Sign up
                    </button>.
                </div>
            </div>
        </div>

    <script src="/js/login.js"></script>